.container {
  background-image: url("../../img/home-background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  background: #3f3b51;
  height: 4rem;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0 auto;
  padding: 3rem 2.5rem;
}

header div.title {
  display: flex;

  align-items: center;
  justify-content: center;
}

header div.title>img {
  margin-right: 1rem;
}

header div.title>span {
  font-size: 2rem;
  font-weight: 700;
  font-family: "Roboto", sans-serif;

  color: #ffffff;
}

header div.pages {
  display: flex;

  align-items: center;
  justify-content: space-between;

  margin-right: 5rem;
}

header div.pages>a {
  font-size: 1.25rem;
  font-weight: 500;
  font-family: "Roboto";

  color: #ffffff;

  padding-left: 4rem;
}

header div.pages>a.active {
  color: #78d0d3;
}

main {
  max-width: 1080px;
  width: 100%;
  margin: 0 auto;
  display: block;
  align-content: center;
}

.main-news {
  height: 90vh;
  margin: 0 auto;

  flex: 1;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  align-content: center;
}

.left-news {
  background-color: #3f3b51;
  width: 100%;
  height: 20rem;
  border-radius: 0.5rem;
}

.video {
  margin-bottom: 3rem;
}

iframe {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
}

.notice {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
}

.notice-image {
  width: 60%;
  height: 60%;
}

.title {
  font-size: 1.5em;
  font-weight: 700;
  font-family: "Roboto";
  color: #78d0d3;
  text-align: center;
}

.description {
  font-size: 1rem;
  font-weight: 700;
  font-family: "Roboto";
  color: #ffffff;
  text-align: justify;
}

.right-news {
  background-color: #3f3b51;
  width: 100%;
  height: 43rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 0.5rem;
  padding: 2rem;
}

.image-right-news {
  width: 85%;
  height: 40%;
}

.title-right-news {
  font-size: 2em;
  font-weight: 700;
  font-family: "Roboto";
  color: #78d0d3;
  text-align: center;
}

.description-right-news {
  font-size: 1.5em;
  font-weight: 700;
  font-family: "Roboto";
  color: #ffffff;
  text-align: justify;
}

.secondary-news {
  width: 100%;
  border-radius: 0.5rem;
  height: 12rem;
  background-color: #3f3b51;
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.secondary-news-image {
  width: 30%;
}

.content-secondary-news {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.title-secondary-news {
  font-size: 1.7em;
  font-weight: 700;
  font-family: "Roboto";
  color: #78d0d3;
}

.description-secondary-news {
  font-size: 1.2em;
  font-weight: 700;
  font-family: "Roboto";
  color: #ffffff;
  text-align: justify;
}