.container {
  background-image: url("../../img/background/home-page.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container > h1 {
  font-size: 15rem;
  color: white;
  font-family: "PT Serif", serif;
}

body {
  background-color: white;
}
